.card2 {
    padding: 14px;
    width: 189.7px;
    border-radius: 8.4px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 171.5px;
}
.card2 .row {
    justify-content: space-between;
    align-items: flex-start;
}

.card2 .barChartImage {
    width: 28px;
}

.card2 .description {
    font-size: 11.2px;
    line-height: 13.4px;
    color: rgba(25, 25, 26, 1);
    margin-bottom: 2.8px;
}
.card2 select.cost {
    border-radius: 2.8px;
    padding: 4.2px;
    border: none;
    color: rgba(49, 50, 51, 1);
    background-color: rgba(229, 229, 230, 0.5);
    font-size: 9.1px;
    line-height: 10.92px;
    width: max-content;
}
.card2 select.cost option {
    color: rgba(49, 50, 51, 1);
  }

